@import '../../../../styles/variables';

.container {
    display: block;
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;

    @media (max-width: 1072px) {
        justify-content: center;
    }

    @media (min-width: $tablet) {
        max-width: $tablet;
    }

    @media (min-width: $desktop) {
        max-width: $desktop;
    }
}