$white: #FFFFFF;
$black: #03050A;

$primaryColor: #272b30;
$secondaryColor: #32383e;

$primaryTextColor: #aaaa;
$secondaryTextColor: #aaaa;
$tertiaryTextColor: #000;

$backgroundColor: #03050A;

$layoutBackgroundColor: #2e2e2e;

$lightBlack: #8B93A0;
$lightWhite:#F5F5F5;
$lightGrey: #41464D;